body {
    background-color: #b5a789;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: small;
    margin: 20px;
}

header.top {
    background-color: #675c47;
    margin: 10px;
    height: 108px;
}

section#main, section#blog {
    display: table-cell;
    background: #efe5d0 url() top left;
    font-size: 105%;
    padding: 15px;
    vertical-align: top;
}

#sidebar {
     display: table-cell;
    background: #efe5d0 url(img/Jay.jpg) bottom right;
    font-size: 105%;
    padding: 0px 15px 0px 15px;
    vertical-align: top;
   
}


/* div.toofocused {
    display: table-cell;
    background-color: aquamarine;
    color: green;
    padding: 13px;
    border: aqua;
    vertical-align: top;
    font-size: 50px;
} */

footer {
    background-color: #675c47;
    color: #efe5d0;
    text-align: center;
    padding: 15px;
    margin: 10px;
    font-size: 90%;
    clear: both;
}

h1 {
    font-size: 120%;
    color: #954b4b;
}

.slogan { color: #954b4b;}

.beanheading {
    text-align: center;
    line-height: 1.8em;
}

a:link {
    color: #b76666;
    text-decoration: none;
    border-bottom: thin dotted #675c47;
}

/* #allcontent {
    width: 800px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #675c47;
    margin-left: auto;
    margin-right: auto;
} */

#tableContainer {
    display: table;
    border-spacing: 10px;
}

.tableRow {
    display: table-row;
}

.tablecell {
    display: table-cell;
    border: 1px solid #ddd;
    padding: 10px;
}

#drinks {
    display: table-cell;
    background-color: #efe5d0;
    width: 20%;
    padding: 15px;
    vertical-align: top;
}

#right {
    display: flex;
    float: right;
}

#award {
    position: absolute;
    top: 30px;
    left: 550px;
    
}

#coupon {
    position: fixed;
    top: 350px;
    left: -47px;
}

#coupon a, img {
    border: none;
}

#header img#headerLogo {
    padding-left: 20px;
}


header.top img#headerSlogan {
    float: right;
    height: 100px;
    padding-right: 20px;
}

nav {
    background-color: #efe5d0;
    margin: 10px 10px 0px 10px;
}

nav ul {
    margin: 0px;
    background-color: #efe5d0;
    margin: 10px 10px 0px 10px;
    list-style-type: none;
    padding: 5px 0px 5px 0px;
}

ul li {
    display: inline;
    padding: 5px 10px 5px 10px;
}

nav ul li a:link, nav ul li a:visited {
    color: #954b4b;
    border-bottom: none;
    font-weight: bold;
}

nav ul li.selected {
    background-color: #c8b99c;
}

#tableformcontainer {
    display: table;
}

#tableformrow {
    display: table-row;
}

p {
    align-items: center;
}
/* 
@media screen and (min-device-width:481) {
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-device-width:480) {
     margin-left: auto;
    margin-right: auto;
}
 */























